.calculator {
    display: block;
    border-radius: 6px;
    position: relative;
    width: 400px;
    margin: 64px 0;
    padding: 24px 24px;
    background: #E6E1DA;
    box-shadow: 0 8px 10px -4px rgba(0, 0, 0, 0.5), 0 40px 50px -15px rgba(0, 0, 0, 0.2), inset 0 -2px 8px 1px rgba(204, 194, 181, 1), 0px 2px 1px 0px rgba(255,255,255,0.8) inset;

}

.grid-template {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}

.grid-template button {
    border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  width: 64px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  height: 50px;
  text-shadow: 0 1px 0 #ffffff, 0 -1px rgba(0,0,0,0.2);
  font-size: 20px;
  line-height: 25px;
  box-sizing: border-box;
  background: #efebe5;
  box-shadow: inset 0 1px 0 0 #ffffff, inset 0 -3px 1px 0 rgba(93, 80, 51, 0.3), inset 0 -5px 10px 2px rgba(204, 196, 178, 0.8), inset 0 4px 6px 0 rgba(255,255,255,0.8), 0 -1px 0px 2px #CCC4B2, 0 1px 0px 2px rgba(255,255,255,0.7);
}

.grid-template button:active {
    box-shadow: inset 0 3px 5px 0 rgba(93, 80, 51, 0.4), inset 0 5px 10px 2px rgba(204, 196, 178, 0.8), inset 0 4px 6px 0 rgba(255,255,255,0.8), 0 -1px 0px 2px #CCC4B2, 0 1px 0px 2px rgba(255,255,255,0.7);
}

.grid-template button.all-clear {
    grid-row: 5 / 6;
    grid-column: 4 / 5;
    color: #ffffff;
    text-shadow: 0 1px rgba(255,255,255,0.2), 0 -1px rgba(164,27,21,0.8);
    background: #FA4C07;
    box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.3), inset 0 -3px 1px 0 rgba(164,27,21,1), inset 0 -5px 10px 2px rgba(164, 27, 21, 0.5), inset 0 4px 6px 0 rgba(255,255,255,0.1), 0 -1px 0px 2px #CCC4B2, 0 1px 0px 2px rgba(255,255,255,0.7);
}

.grid-template button.equal-sign {
    background-color: #2e86c0;
    border-color: #337cac;
    color: #fff;
    height: 100%;
    grid-row: 2 / 5;
    grid-column: 4 / 5;
    box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.3), inset 0 -3px 1px 0 #2e86c0, inset 0 -5px 10px 2px #2e86c0, inset 0 4px 6px 0 rgba(255,255,255,0.1), 0 -1px 0px 2px #CCC4B2, 0 1px 0px 2px rgba(255,255,255,0.7);
}

.grid-template button.save {
    color: #ffffff;
    text-shadow: 0 1px rgba(255,255,255,0.2), 0 -1px rgba(164,27,21,0.8);
    background: #3e3c3b;
    box-shadow: inset 0 1px 0 0 rgba(39, 37, 37, 0.3), inset 0 -3px 1px 0 rgb(46, 42, 42), inset 0 -5px 10px 2px rgba(51, 47, 47, 0.5), inset 0 4px 6px 0 rgba(255,255,255,0.1), 0 -1px 0px 2px #CCC4B2, 0 1px 0px 2px rgba(255,255,255,0.7);
}

.grid-template button.zero {
    grid-row: 5 / 6;
    grid-column: 2 / 2  ;
}

